In [9]:
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
import pandas as pd
import numpy as np
import datetime as dt
import yfinance as yf
import pandas_ta
import warnings
warnings.filterwarnings('ignore')

Nifty50 = pd.read_html('https://en.wikipedia.org/wiki/NIFTY_50')[2]

symbols_list = Nifty50['Symbol'].unique().tolist()
symbols_list = [symbol + '.NS' for symbol in symbols_list]
end_date = '2024-09-14'

start_date = pd.to_datetime(end_date)-pd.DateOffset(365*8)

df = yf.download(tickers=symbols_list,
                 start=start_date,
                 end=end_date).stack()

df.index.names = ['date', 'ticker']

df.columns = df.columns.str.lower()

df

[*********************100%%**********************]  50 of 50 completed

Price                       adj close        close         high          low  \
date       ticker
2015-09-29 ADANIENT.NS      41.716167    43.074444    44.681900    41.848415
           ADANIPORTS.NS   283.115417   297.399994   304.950012   293.000000
           APOLLOHOSP.NS  1396.428223  1440.400024  1455.000000  1393.250000
           ASIANPAINT.NS   753.000122   804.799988   809.900024   780.000000
           AXISBANK.NS     492.204498   504.500000   513.500000   485.000000
...                               ...          ...          ...          ...
2023-09-26 TCS.NS         3526.072754  3585.699951  3594.949951  3536.000000
           TECHM.NS       1245.547852  1282.300049  1303.050049  1279.150024
           TITAN.NS       3251.959229  3262.600098  3308.000000  3255.000000
           ULTRACEMCO.NS  8180.388184  8228.900391  8328.000000  8206.200195
           WIPRO.NS        412.021301   412.899994   416.799988   411.700012

Price                            open      volume
date       ticker
2015-09-29 ADANIENT.NS      42.801991   7114293.0
           ADANIPORTS.NS   304.000000   5666979.0
           APOLLOHOSP.NS  1400.000000    385820.0
           ASIANPAINT.NS   783.000000   1366194.0
           AXISBANK.NS     499.899994  19935063.0
...                               ...         ...
2023-09-26 TCS.NS         3567.600098   1726062.0
           TECHM.NS       1300.000000   1141475.0
           TITAN.NS       3294.000000   1054827.0
           ULTRACEMCO.NS  8237.000000    515796.0
           WIPRO.NS        416.799988   3240283.0

[97482 rows x 6 columns]